{% extends "core/base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="mb-4">Welcome to the Task Manager!</h1>
        <p class="lead">Acess your account or register it to start.</p>

        <div class="d-grid gap-3 col-md-4 mx-auto mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
            <a href="{% url 'core:signup' %}" class="btn btn-success btn-lg">Register</a>
        </div>
    </div>
{% endblock %}